* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
 
 
a {
    text-decoration: none;
    color: #0056b3;
    transition: color 0.3s;
}
 
a:hover {
    color: #007bff;
}
 
nav ul {
    list-style: none;
}
 
 
header {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-bottom: 5px solid #cc0000;
}
 
header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}
 
header nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}
 
header nav a {
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
 
header nav a:hover {
    background-color: #cc0000;
}
 
 
main section {
    padding: 60px 20px;
    text-align: center;
}
 
section:nth-child(even) { 
    background-color: #e9e9e9;
}
 
h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #cc0000;
}
 
 
.hero {
    background: url('museu-bg.jpg') no-repeat center center/cover; /* Altere 'museu-bg.jpg' */
    color: rgb(138, 17, 17);
    padding: 100px 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
 
.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
}
 
 
.button {
    display: inline-block;
    background-color: #cc0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: background-color 0.3s;
}
 
.button:hover, .button-small:hover {
    background-color: #a30000;
}
 
.button-small {
    display: inline-block;
    background-color: #0056b3;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 0.9em;
}
 
 
.obras-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}
 
.obra-card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
 
.obra-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
 
.obra-card img {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 3px;
}
 
.obra-card h3 {
    color: #333;
    margin-bottom: 5px;
}
 
.obra-card p {
    font-style: italic;
    margin-bottom: 15px;
}
 
.nota-imagens {
    margin-top: 50px;
    font-size: 0.8em;
    color: #666;
}
 
 
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
}
 
footer a {
    color: #ffd700;
}
 
.p1{
    font-weight: bold;
} 
.p2, .p3{
    font-weight: bold;
    margin-bottom: 25px;
    margin-left: auto;
    justify-content: center;
    height: -500px;
}
.p11{
    text-align: justify;
}
.p22, .p33{
    text-align: justify;
    height: -500px;
 
}
.mona{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 658px;
}